﻿@media screen and (min-width:768px) {
}

@media screen and (min-width:1024px) {
   
    .ACButtons
    {
        text-align: center;

padding: 0px;
float: left;
margin-left: 40%;
    }
  
  .lblAUCompanyID {
    width: 37%;
    margin-left: -6%;
}

     .lAEventName
     {
         width:15%;
     }
      .OtCriteria
  {
      width:100%;
  }
  .OtCriteria th:first-child {
        width: 45%;
    }

    .OtCriteria th:nth-child(2) {
        width: 35%;
    }
     .OtCriteria th:nth-child(3) {
        width: 6%;
    }
}

@media screen and (min-width:1280px) {

  .ACButtons
    {
        text-align: center;

padding: 0px;
float: left;
margin-left: 40%;
    }

 .OtCriteria {
    width: 100%;
}
 .lblAUCompanyID {
    width: 27%;
     margin-left: 0%;
}

}

@media screen and (min-width:1920px) {
}
.ListControl label
{
    padding-left: 1.5%;
}
