﻿.btnYear {
        float: left;
        background-image: url('../../img/Addplus.png');
        height: 30px;
        width: 35px;
        background-position: left;
        background-repeat: no-repeat;
        border: 0px;
        background-color: #fff;
    }
@media screen and (min-width:1024px) {
    .lDShortName {
        width: 13%;
    }

    .lDLimitEmp {
        width: 24%;
    }

    .lDPercentage {
        width: 11%;
    }

    .lDDeductOn {
        width: 13%;
    }

    .tDDeductOn3 {
        width: 14%;
    }

    #ContentPlaceHolder1_cbDeductOn label {
        padding-left: 3%;
    }

    #ContentPlaceHolder1_cbDeductOn {
        width: 26%;
    }

    #ContentPlaceHolder1_cbDeductOn1 {
        width: 26%;
    }

    #ContentPlaceHolder1_cbDeductOn1 {
        padding-left: 3%;
    }

    #ContentPlaceHolder1_cbDeductOn2 {
        width: 62%;
    }

    #ContentPlaceHolder1_cbDeductOn2 {
        padding-left: 3%;
    }

    .lDIShortName {
        width: 14%;
    }

    .lDIDefineRange {
        width: 14%;
    }

    .lDIDeductOn {
        width: 12%;
    }

    #ContentPlaceHolder1_cbIDeducton label {
        padding-left: 3%;
    }

    #ContentPlaceHolder1_cbIDeducton {
        width: 26%;
    }

    #ContentPlaceHolder1_cbIDeducton1 {
        width: 26%;
    }

    #ContentPlaceHolder1_cbIDeducton1 {
        padding-left: 3%;
    }

    #ContentPlaceHolder1_cbIDeducton2 {
        width: 62%;
    }

    #ContentPlaceHolder1_cbIDeducton2 {
        padding-left: 3%;
    }
}


@media screen and (min-width:1280px) {
    .lDLimitEmp {
        width: 18%;
    }
}



.modal-backdrop
{
    /*  background-color: rgba(0, 0, 0, 0.61);*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}
.modal
{
    width: 70%;
    position: absolute;
    top: 10%;
    left: 100px;
    z-index: 1020;
    background-color: #FFF;
    border-radius: 6px;
    display: none;
    border: 1px solid #000;
    height: 359px;
    overflow-y: auto;
}
.modal-header
{
    background-color: #368ee0;
    color: #FFF;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.modal-header h3
{
    margin: 0;
    padding: 0 10px 0 10px;
    line-height: 4px;
    font-size: 20px;
}
.modal-header h3 .close-modal
{
    float: right;
    text-decoration: none;
    color: #FFF;
}
.modal-footer
{
    background-color: #F1F1F1;
    padding: 0 10px 0 10px;
    line-height: 40px;
    text-align: right;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: solid 1px #CCC;
}


.ACButtons
{
        text-align: center;
    float: left;
    margin-left: 4%;
}
.modal-body
{
    padding: 10px 10px 10px 10px; /* overflow-y: scroll;     height: 213px;*/
}

.popup
{
    background-color: AppWorkspace;
    margin: 40px;
    width: 450px;
    height: 550px;
    position: relative;
    border: Gray 2px inset;
}

.modalBackground
{
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}
.modalPopup
{
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 70%;
    height: 240px;
}

h5, .h5 {
    font-size: 14px;
    margin-top: 0%;
    color: rgb(236, 7, 7);

}

.modal1Popup
{
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 85%;
    height: 240px;
}