﻿@media screen and (min-width:768px) {
}

@media screen and (min-width:1024px) {
   .lAID {
        width: 11%;
    }

.lAHeadName {
    width: 14%;
}

    .lAShortName {
        width: 13%;
    }
    .ACButtons
    {
        text-align: center;

padding: 0px;
float: left;
margin-left:7%;
    }
  
   .lblAUCompanyID {
    width: 16%;
    margin-left: -3%;
}

     .lAEventName
     {
         width:15%;
     }
     .lACalculation
     {
         width:12%;
     }
}

@media screen and (min-width:1280px) {

  .ACButtons
    {
        text-align: center;

padding: 0px;
float: left;
margin-left: 6%;
    }
  .lblAUCompanyID {
    width: 12%;
    margin-left: 0%;
}
}

@media screen and (min-width:1920px) {
}
