﻿@media screen and (min-width:768px)
{
}
@media screen and (min-width:1024px)
{
    .lblEmpCode
    {
        width:13%;
    }
    .lblEmpName {
    width: 16%;
    }
    .tEmpCode
    {
        width:15%;
    }
    }
@media screen and (min-width:1280px)
{
  
}
@media screen and (min-width:1920px)
{
}
