﻿
.modal-backdrop
{
    /*  background-color: rgba(0, 0, 0, 0.61);*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}
.modal
{
    width: 70%;
    position: absolute;
    top: 10%;
    left: 100px;
    z-index: 1020;
    background-color: #FFF;
    border-radius: 6px;
    display: none;
    border: 1px solid #000;
    height: 359px;
    overflow-y: auto;
}
.modal-header
{
    background-color: #368ee0;
    color: #FFF;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.modal-header h3
{
    margin: 0;
    padding: 0 10px 0 10px;
    line-height: 4px;
    font-size: 20px;
}
.modal-header h3 .close-modal
{
    float: right;
    text-decoration: none;
    color: #FFF;
}
.modal-footer
{
    background-color: #F1F1F1;
    padding: 0 10px 0 10px;
    line-height: 40px;
    text-align: right;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: solid 1px #CCC;
}



.modal-body
{
    padding: 10px 10px 10px 10px; /* overflow-y: scroll;     height: 213px;*/
}

.popup
{
    background-color: AppWorkspace;
    margin: 40px;
    width: 450px;
    height: 550px;
    position: relative;
    border: Gray 2px inset;
}

.modalBackground
{
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}
.modalPopup
{
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 67%;
    height: 460px;
}


@media screen and (min-width:768px)
{
    

}
@media screen and (min-width:1024px)
{
    .head1
    {
        margin-top:1.5%;
    }

    .lblCmpCode
    {
        width:15%;
    }

    .lblCmpName
    {
        width:18%;
    }
    .tab-content hide col-sm-12
    {
        margin-top:0.8%;
    }
    .lblWebSite
    {
        width:14%;

    }
    
    #tcontainer_Tip
    {
        width: 85%;
        float: left;
    }


     .CustomerAddress th:first-child
    {
        width: 9%;
    }
    .CustomerAddress th:nth-child(2)
    {
        width: 38%;
    }
    .CustomerAddress th:nth-child(3)
    {
        width: 14%;
    }
   .CustomerAddress th:nth-child(4)
    {
        width: 17%;
    }
    .CustomerAddress th:nth-child(5)
    {
        width: 1%;
    }
    .lblPFCode
    {
        width:13.5%;
    }
    .tPFCode
    {
        width:17.5%;
    }
    .lblPFRegion
    {
        width:15%;
    }
    .lblPFOffice
    {
        width:15%;
    }
    .lblESIRegCode {
        width:13.5%;
    }
    .tESIRegCode
    {
width:17.5%;
    }
    .lblESIBranch
    {
        width: 15%;
    }
    .lblPIRegCode
    {
        width:15%;
    }
    .lblPANNo
{
        width:13.7%;
    }
    .tPANNo
    {
        width:17.3%;
    }
    .lblWeekOFF
    {
        width:15%;
    }
    .col-sm-12 .row .col-sm-12
    {
        margin-bottom:0.83%;
    }
}
@media screen and (min-width:1280px)
{
    
    #tcontainer_Tip
    {
        width: 90%;
        float: left;
    }
    
    .CustomerAddress th:first-child
    {
        width: 9%;
    }
    .CustomerAddress th:nth-child(2)
    {
        width: 38%;
    }
    .CustomerAddress th:nth-child(3)
    {
        width: 14%;
    }
   .CustomerAddress th:nth-child(4)
    {
        width: 17%;
    }
    .CustomerAddress th:nth-child(5)
    {
        width: 1%;
    }
  



}
@media screen and (min-width:1920px)
{
}



