﻿@media screen and (min-width:768px) {
}

@media screen and (min-width:1024px) {
 
    .lAID
    {
       width: 15%;
    }
 .lALeaveName
 {
         width: 16%;

 }
 .lASelectYear
 {
     width: 15%;
 }
 .lAAllotment
 {
     width:15%;
 }
 .tAllotment {
    width: 55%;
    margin-left: 0%;
}
 .tOpening
 {
     width: 2%;
 }
 .lAOpening
 {
     width: 16%;
 }
  .ACButtons {
    float: left;
    text-align: center;
    margin-left: 23%;
}
   .ListControl
     {
         width:69%;
     }
}

@media screen and (min-width:1280px) {
    
    .ACButtons {
    float: left;
    text-align: center;
    margin-left: 23%;
}
.tAllotment {
    width: 45%;
    margin-left: 4.5%;
}
     .lAAllotment {
    width: 11%;
}
     .lAOpening {
    width: 12%;
}
     .ListControl
     {
         width:72%;
     }
}

@media screen and (min-width:1920px) {
}


.modal-backdrop
{
    /*  background-color: rgba(0, 0, 0, 0.61);*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}
.modal
{
    width: 70%;
    position: absolute;
    top: 10%;
    left: 100px;
    z-index: 1020;
    background-color: #FFF;
    border-radius: 6px;
    display: none;
    border: 1px solid #000;
    height: 359px;
    overflow-y: auto;
}
.modal-header
{
    background-color: #368ee0;
    color: #FFF;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.modal-header h3
{
    margin: 0;
    padding: 0 10px 0 10px;
    line-height: 4px;
    font-size: 20px;
}
.modal-header h3 .close-modal
{
    float: right;
    text-decoration: none;
    color: #FFF;
}
.modal-footer
{
    background-color: #F1F1F1;
    padding: 0 10px 0 10px;
    line-height: 40px;
    text-align: right;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: solid 1px #CCC;
}



.modal-body
{
    padding: 10px 10px 10px 10px; /* overflow-y: scroll;     height: 213px;*/
}

.popup
{
    background-color: AppWorkspace;
    margin: 40px;
    width: 450px;
    height: 550px;
    position: relative;
    border: Gray 2px inset;
}

.modalBackground
{
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}
.modalPopup
{
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 67%;
    height: 165px;
}

