﻿<%template%>
<PAYSLIP>
    # if(data != null && data.d.length >0){
    for(var i = 0; i< data.d.length; i++)
    {#
    <div id="dvtable">
        <table border="1" style="width: 100%; margin-top: 10px;">
            <tr>
                <td style="text-align: left;" colspan="4" class="bck-prvn">
                    <label class="control-label margin-pm">Siri Technologies</label>
                </td>
            </tr>
            <tr>
                <td style="text-align: center" colspan="4">
                    <label class="control-label margin-pm">PaySlip</label>
                </td>
            </tr>
            <tr>
                <td class="bck-prvn" style="width: 20%;">
                    <label class="control-label margin-pm">Name</label>
                </td>
                <td style="text-align: right; width: 30%">
                    <label class="control-label margin-pm"> #=data.d[i].Name# </label>
                </td>
                <td class="bck-prvn" style="width: 20%;">
                    <label class="control-label margin-pm">Monthy Days</label>
                </td>
                <td style="text-align: right; width: 30%">
                    <label class="control-label margin-pm">#=data.d[i].MonthlyDays#</label>
                </td>

            </tr>
            <tr>
                <td class="bck-prvn" style="width: 20%;">
                    <label class="control-label margin-pm">Employee ID</label>
                </td>
                <td style="text-align: right; width: 30%;">
                    <label class="control-label margin-pm">  #=data.d[i].EmployeeId# </label>
                </td>
                <td class="bck-prvn">
                    <label class="control-label margin-pm">No. Of Working Days</label>
                </td>
                <td style="text-align: right">
                    <label class="control-label margin-pm">#=data.d[i].WorkingDays# </label>
                </td>
            </tr>
            <tr>
                <td class="bck-prvn" style="width: 20%;">
                    <label class="control-label margin-pm">Basic Amount(₹)</label>
                </td>
                <td style="text-align: right; width: 30%;">
                    <label class="control-label margin-pm"> #=data.d[i].BasicAmount# </label>
                </td>
                <td class="bck-prvn" style="width: 20%;">
                    <label class="control-label margin-pm">No. Of Absents Days</label>
                </td>
                <td style="text-align: right; width: 30%">
                    <label class="control-label margin-pm"> #=data.d[i].AbsentDays# </label>
                </td>

            </tr>
            <tr>
                <td style="width: 20%;" colspan="2">
                    <label class="control-label margin-pm"></label>
                </td>


                <td class="bck-prvn" style="width: 20%;">
                    <label class="control-label margin-pm">OT Hours</label>
                </td>
                <td style="text-align: right; width: 30%">
                    <label class="control-label margin-pm"> #=data.d[i].OThour# </label>
                </td>

            </tr>
            <tr>
                <td colspan="2">
                    <table style="width: 100%; margin-top: 20px; margin-bottom: 25px;">
                        <tr>
                            <td class="bck-prvn" style="width: 100%;">
                                <label class="control-label margin-pm">Earnings</label>
                            </td>
                            <td style="text-align: right; width: 100%;" class="bck-prvn">
                                <label class="control-label margin-pm">Amount(₹)</label>
                            </td>
                        </tr>
                        # if(data.d[i].Earnings!= null ){
                        for(var j = 0; j< data.d[i].Earnings.length; j++)
                        {#

                        <tr>
                            <td>
                                <label class="control-label margin-pm">#=data.d[i].Earnings[j].Name#</label>
                            </td>
                            <td style="text-align: right">
                                <label class="control-label margin-pm">#=data.d[i].Earnings[j].Amount#  </label>
                            </td>

                        </tr>
                        #}#
                        #}#
                        <tr>
                            <td class="bck-prvn">
                                <label class="control-label margin-pm">OT:</label>
                            </td>
                            <td style="text-align: right;" class="bck-prvn">
                                <label class="control-label margin-pm" style="width:150px"> #=data.d[i].TotalOTAmount#</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="bck-prvn" style="width: 20%;">
                                <label class="control-label margin-pm">Total</label>
                            </td>
                            <td style="text-align: right; width: 30%;" class="bck-prvn">
                                <label class="control-label margin-pm">#=data.d[i].EarningTotal# </label>
                            </td>

                        </tr>

                    </table>
                </td>
                <td colspan="2">
                    <table style="width: 100%; margin-top: 20px; margin-bottom: 25px;">

                        <tr>
                            <td class="bck-prvn">
                                <label class="control-label margin-pm" style="width: 20%;">Deductions</label>
                            </td>
                            <td style="text-align: right; width: 30%;" class="bck-prvn">
                                <label class="control-label margin-pm">Amount(₹)</label>
                            </td>
                        </tr>
                        # if(data.d[i].Deductions != null ){
                        for(var j = 0; j< data.d[i].Deductions.length; j++)
                        {#


                        <tr>
                            <td>
                                <label class="control-label margin-pm">#=data.d[i].Deductions[j].Name#</label>
                            </td>
                            <td style="text-align: right">
                                <label class="control-label margin-pm">#=data.d[i].Deductions[j].Amount# </label>
                            </td>

                        </tr>

                        #}#
                        #}#

                        <tr>
                            <td class="bck-prvn" style="width: 20%;">
                                <label class="control-label margin-pm">LOP:</label>
                            </td>
                            <td style="text-align: right; width: 30%;" class="bck-prvn">
                                <label class="control-label margin-pm">#=data.d[i].LOP#</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="bck-prvn" style="width: 20%;">
                                <label class="control-label margin-pm">Total</label>
                            </td>
                            <td style="text-align: right; width: 30%;" class="bck-prvn">
                                <label class="control-label margin-pm">#=data.d[i].DeductionTotal#</label>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>

            <tr>


                <td class="bck-prvn" style="width: 20%;">
                    <label class="control-label margin-pm">Gross Amount(₹)</label>
                </td>
                <td style="text-align: right; width: 30%">
                    <label class="control-label margin-pm"> #=data.d[i].GrossAmount#   </label>
                </td>


                <td class="bck-prvn" style="width: 20%;">
                    <label class="control-label margin-pm"> Net Amount(₹)</label>
                </td>
                <td style="text-align: right; width: 30%">
                    <label class="control-label margin-pm">  #=data.d[i].NetAmount#  </label>
                </td>
            </tr>


            </td>
            </tr>
        </table>


    </div>

    <div class="clearfix"></div>
    <hr style="color:blue" />
    #}#
    #}#
</PAYSLIP>

