﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Share/HRMSMaster.Master" AutoEventWireup="true" CodeBehind="tdslic.aspx.cs" Inherits="HRMS.Employee.tdslic" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="container">
    <div>
        <h4>Life Insurence Premium</h4>
        <table>
            <tr>
                <td>Description</td>
                <td>Premium Paid</td>
                <td>Sum Assured</td>
            </tr>
            <tr>
                <td>
                    <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox></td>
                <td>
                    <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox></td>
                <td>
                    <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox></td>
            </tr>
             <tr>
                <td>
                    <asp:TextBox ID="TextBox4" runat="server"></asp:TextBox></td>
                <td>
                    <asp:TextBox ID="TextBox5" runat="server"></asp:TextBox></td>
                <td>
                    <asp:TextBox ID="TextBox6" runat="server"></asp:TextBox></td>
            </tr>
             <tr>
                <td>
                    <asp:TextBox ID="TextBox7" runat="server"></asp:TextBox></td>
                <td>
                    <asp:TextBox ID="TextBox8" runat="server"></asp:TextBox></td>
                <td>
                    <asp:TextBox ID="TextBox9" runat="server"></asp:TextBox></td>
            </tr>
             <tr>
                <td>
                    <asp:TextBox ID="TextBox10" runat="server"></asp:TextBox></td>
                <td>
                    <asp:TextBox ID="TextBox11" runat="server"></asp:TextBox></td>
                <td>
                    <asp:TextBox ID="TextBox12" runat="server"></asp:TextBox></td>
            </tr>
             <tr>
                <td>
                    <asp:TextBox ID="TextBox13" runat="server"></asp:TextBox></td>
                <td>
                    <asp:TextBox ID="TextBox14" runat="server"></asp:TextBox></td>
                <td>
                    <asp:TextBox ID="TextBox15" runat="server"></asp:TextBox></td>
            </tr>
             <tr>
                <td>
                    <asp:TextBox ID="TextBox16" runat="server"></asp:TextBox></td>
                <td>
                    <asp:TextBox ID="TextBox17" runat="server"></asp:TextBox></td>
                <td>
                    <asp:TextBox ID="TextBox18" runat="server"></asp:TextBox></td>
            </tr>
             <tr>
                <td>
                    <asp:TextBox ID="TextBox19" runat="server"></asp:TextBox></td>
                <td>
                    <asp:TextBox ID="TextBox20" runat="server"></asp:TextBox></td>
                <td>
                    <asp:TextBox ID="TextBox21" runat="server"></asp:TextBox></td>
            </tr>
             <tr>
                <td>
                    <asp:TextBox ID="TextBox22" runat="server"></asp:TextBox></td>
                <td>
                    <asp:TextBox ID="TextBox23" runat="server"></asp:TextBox></td>
                <td>
                    <asp:TextBox ID="TextBox24" runat="server"></asp:TextBox></td>
            </tr>
             <tr>
                <td>
                    <asp:TextBox ID="TextBox25" runat="server"></asp:TextBox></td>
                <td>
                    <asp:TextBox ID="TextBox26" runat="server"></asp:TextBox></td>
                <td>
                    <asp:TextBox ID="TextBox27" runat="server"></asp:TextBox></td>
            </tr>
             <tr>
                <td>
                    <asp:TextBox ID="TextBox28" runat="server"></asp:TextBox></td>
                <td>
                    <asp:TextBox ID="TextBox29" runat="server"></asp:TextBox></td>
                <td>
                    <asp:TextBox ID="TextBox30" runat="server"></asp:TextBox></td>
            </tr>
             <tr>
                <td>
                    <asp:TextBox ID="TextBox31" runat="server"></asp:TextBox></td>
                <td>
                    <asp:TextBox ID="TextBox32" runat="server"></asp:TextBox></td>
                <td>
                    <asp:TextBox ID="TextBox33" runat="server"></asp:TextBox></td>
            </tr>
             <tr>
                <td>
                    <asp:TextBox ID="TextBox34" runat="server"></asp:TextBox></td>
                <td>
                    <asp:TextBox ID="TextBox35" runat="server"></asp:TextBox></td>
                <td>
                    <asp:TextBox ID="TextBox36" runat="server"></asp:TextBox></td>
            </tr>
             <tr>
                
                <td>
                    <asp:TextBox ID="TextBox38" runat="server"></asp:TextBox></td>
                <td>
                    <asp:TextBox ID="TextBox39" runat="server"></asp:TextBox></td>
            </tr>
        </table>
        <div align="center">
        <table>
            <tr>
                <td><strong>
                    Total:</strong>
                </td>
                <td>
                    <asp:TextBox ID="TextBox40" runat="server"></asp:TextBox></td>
            </tr>
            <tr>
                <td><strong>Deduction:</strong></td>
                <td>
                    <asp:TextBox ID="TextBox41" runat="server"></asp:TextBox></td>
            </tr>
        </table>
            </div>

    </div>
    </div>
</asp:Content>
