﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Share/HRMSMaster.Master" AutoEventWireup="true" CodeBehind="tdsone.aspx.cs" Inherits="HRMS.Employee.tdsone" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="container">
    <div>
        <table>
            <tr>
                <td>
                    Choose Head :
                </td>
                <td>
                    <asp:DropDownList ID="DropDownList1" runat="server">
                        <asp:ListItem>Payment to Contractors</asp:ListItem>
                        <asp:ListItem>Rent</asp:ListItem>
                        <asp:ListItem>fees for pressional or technical services</asp:ListItem>
                        <asp:ListItem>winning from lottiers</asp:ListItem>
                        <asp:ListItem>Insurence Commission</asp:ListItem>
                    </asp:DropDownList>
                </td>
                <td>
                    Group:
                </td>
                <td>
                    <asp:DropDownList ID="DropDownList2" runat="server">
                        <asp:ListItem>&lt;All Groups&gt;</asp:ListItem>
                    </asp:DropDownList>
                </td>
                <td>
                    <asp:Button ID="Button1" runat="server" Text="Filter" /></td>
            </tr>
        </table>
        <div>
            <table>
                <tr>
                    <td>
                        Party Code
                    </td>
                    <td>
                        Name
                    </td>
                    <td>
                        Type
                    </td>
                    <td>
                        PAN
                    </td>
                    <td>
                        Town
                    </td>
                </tr>
                <tr>
                    <td>
                        <asp:Label ID="Label1" runat="server" Text=""></asp:Label></td>
                    <td>
                        <asp:Label ID="Label2" runat="server" Text=""></asp:Label></td>
                    <td>
                        <asp:Label ID="Label3" runat="server" Text=""></asp:Label></td>
                    <td>
                        <asp:Label ID="Label4" runat="server" Text=""></asp:Label></td>
                    <td>
                        <asp:Label ID="Label5" runat="server" Text=""></asp:Label></td>
                </tr>
                <tr>
                    <td>
                        <asp:Label ID="Label6" runat="server" Text=""></asp:Label></td>
                    <td>
                        <asp:Label ID="Label7" runat="server" Text=""></asp:Label></td>
                    <td>
                        <asp:Label ID="Label8" runat="server" Text=""></asp:Label></td>
                    <td>
                        <asp:Label ID="Label9" runat="server" Text=""></asp:Label></td>
                    <td>
                        <asp:Label ID="Label10" runat="server" Text=""></asp:Label></td>
                </tr>
            </table>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div>
            <h4> Search in Deductee list</h4>
            <table>
                <tr>
                    <td colspan="2">
                        Code:<asp:TextBox ID="TextBox1" runat="server"></asp:TextBox><asp:Button ID="Button2" runat="server" Text="Find Next" />

                    </td>
                    <td colspan="3">Name:<asp:TextBox ID="TextBox2" runat="server"></asp:TextBox><asp:Button ID="Button3" runat="server" Text="Find Next" /></td>
                    <td>
                        Gross Amt paid:<asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
                    </td>
                </tr>
                  <tr>
                <td><asp:Button ID="Button4" runat="server" Text="Computation" /></td>
                <td><asp:Button ID="Button5" runat="server" Text="Add Deductee" Width="139px" /></td>
                    <td><asp:Button ID="Button6" runat="server" Text="Edit Deductee" /></td>
                    <td><asp:Button ID="Button7" runat="server" Text="Delete Deductee" /></td>
                    <td><asp:Button ID="Button8" runat="server" Text="Close" /></td>
                    <td>TDS Amt Deducted <asp:TextBox ID="TextBox4" runat="server"></asp:TextBox></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <asp:Button ID="Button9" runat="server" Text="Consolidated letter" />
                    </td>
                    <td>
                        <asp:Button ID="Button10" runat="server" Text="Issue 15G" /></td>
                    <td colspan="2">
                        <asp:Button ID="Button11" runat="server" Text="Certificate No." /></td>
                </tr>
            </table>
            <table>
              
                
            </table>
        </div>
    </div>
    </div>
</asp:Content>
